.spotHeader {
    margin-left: 5%;
    margin-right: 5%;
}

.spotHeader>h2 {
    margin-left: 0;
}

.spotHeader>h3 {
    color: #666;
}

.imagesWrapper {
    height: 500px;
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    margin: auto;
}

.previewImgWrapper {
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border: 3px solid white;
    box-sizing: border-box;
}

.previewImgWrapper>img {
    height: 100%;
    width: auto
}

.otherImagesWrapper {
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-sizing: border-box;
}

.otherImagesWrapper>.imgWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border: 3px solid white;
    display: flex;
    justify-content: center;
}

.otherImagesWrapper>.imgWrapper>img {
    height: 100%;
    width: auto;
}

.details {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    margin-top: 20px;
}

.description {
    width: 500px;
}

.description>h2 {
    padding-left: 0px;
    margin-left: 0px;
}

.booking {
    width: 370px;
    border: 3px solid black;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.booking>span {
    font-size: 18px;
}

.booking>.openModalButton {
    width: 340px;
    margin: 0px;
    height: 40px;
}

.reviewsWrapper {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
}

.reviewWrapper {
    margin-top: 40px;
}

.reviewWrapper>h4 {
    margin: 5px;
    padding: 0px;
    font-size: 22px;
}

.reviewWrapper>h5 {
    margin: 5px;
    padding: 0px;
    color: #666;
    font-size: 20px;
}

.reviewWrapper>p {
    margin: 5px;
    padding: 0px;
    font-size: 18px;
}

.reviewsWrapper>button {
    width: 200px;
}